$black-background: rgb(27, 27, 27);
$primary: #2196F3;

@font-face {
  
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $black-background;
}

// -------------- Navbar Styles ----------------
nav {
  background-color: $black-background;
  border-bottom: 1px solid black;
  // box-shadow: none;
  ul {
    a:hover {
      color: $primary;
      transition: color 0.2s ease;
      background-color: transparent;
    }
  }
}
// ------------- Section Styles ---------------
#about {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  h3 {
    color: $primary;
    transition: color 0.2s ease;
  }
  h4:hover {
    color: white;
  }
}
// ------------- Contact ---------------
.orangeArrow {
  p {
    position: fixed;
    right: 10px;
    bottom: 180px;
    color: white;
    font-size: 12px;
  }
  img {
    height: 100px;
    width: 100px;
    position: fixed;
    right: -25px;
    bottom: 90px;
  }
}

// -------------- Card Styles --------------
.card {
  .card-image {
    .card-1-image {
      height: 237px;
    }
    .card-2-image {
      height: 237px;
    }
  }
}
