$black-background: rgba(27, 27, 27, 0.9);
$primary: #2196F3;
$card-action: rgb(250, 169, 61);
$card-action-hover: rgb(255, 199, 125);

body {
  font-family: 'Raleway', sans-serif;
  background: url('http://i.imgur.com/k7Owzhi.png') $black-background;
}

// -------------- Navbar Styles ----------------
nav {
  background-color: $black-background;
  border-bottom: 1px solid black;
  ul {
    a:hover {
      color: $primary;
      transition: color 0.2s ease;
      background-color: transparent;
    }
  }
}
.brand-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
// ------------- Section Styles ---------------
#about {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  h3 {
    color: $primary;
    transition: color 0.2s ease;
  }
  h4:hover {
    color: white;
  }
}
#more {
  font-size: 20px;
}
#tagLine {
  font-size: 20px;
}
// ------------- Contact ---------------
.orangeArrow {
  p {
    font-family: 'Indie Flower', sans-serif;
    position: fixed;
    right: 10px;
    bottom: 175px;
    color: white;
    font-size: 14px;
  }
  img {
    height: 100px;
    width: 100px;
    position: fixed;
    right: -25px;
    bottom: 90px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
.fixed-action-btn {
  ul {
    li {
      #contactInfo {
        right: 47px;
        color: white;
        position: fixed;
        opacity: 0;
        height: 35px;
        width: 0px;
        span {
          text-align: center;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
// --------------- Konami Style ------------------
// If you don't know the Konami Code:
// press (in this order): up, up, down, down, left, right, left, right, b, a, enter

// --------------- Media Queries -----------------
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .card-title {
      font-size: 14px;
    }
}
