$black-background: rgb(27, 27, 27);
$primary: #2196F3;

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $black-background;
}

// -------------- Navbar Styles ----------------
nav {
  background-color: $black-background;
  border-bottom: 1px solid black;
  // box-shadow: none;
  ul {
    a:hover {
      color: $primary;
      transition: color 0.2s ease;
      background-color: transparent;
    }
  }
}
// ------------- Section Styles ---------------
#about {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  h3 {
    color: $primary;
    transition: color 0.2s ease;
  }
  h4:hover {
    color: white;
  }
}
