// Holy Flying Spaghetti Monster I need to scrap this and start from scratch...
html, body {
  line-height: 1em;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: grab;
}
.column-left {
  order: 1;
  flex-grow: 1;
  height: 100%;
  width: 15%;
  background-color: rgba(180,20,20,1);
  text-align: center;
  overflow: hidden;
  border-right: 2px solid black;
  position: relative;
}
.column-center {
  order: 2;
  flex-grow: 1;
  height: 100%;
  width: 70%;
  background-color: rgb(55, 55, 55);
  position: relative;
}
.column-right {
  order: 3;
  flex-grow: 1;
  height: 100%;
  width: 15%;
  background-color: rgb(88, 180, 200);
  text-align: center;
  overflow: hidden;
  border-left: 2px solid black;
  position: relative;
}
.playing-space-head {
  display: inline-block;
  margin-left: 150px;
  width: 25%;
  font-size: 1.4rem;
  text-align: center;
  color: white;
  border: 2px solid black;
  border-radius: .2rem;
}
span {
  font-size: 1.2rem;
  color: white;
  border: 2px solid black;
  border-radius: .2rem;
  padding:0.5rem;
  background-color: rgb(120, 120, 120);
  box-shadow: 0.1rem 0.1rem rgba(43, 43, 43, 0.5);
}
button {
  font-size: 1.2rem;
  color: white;
  background: red;
  margin-left: 1rem;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem rgba(43,43,43,0.5);
}
.land-piece {
  position: absolute;
  display: block;
  height: 10rem;
  width: 7rem;
  z-index:1;
}
.land-div {
  display: block;
  height: 50%;
  margin-top: 1.2rem;
  margin-left: 1.4rem;
}
#player-one-head, #player-two-head {
  z-index: 10;
  margin-top: 30px;
}
.playerThree, .playerFour {
  display: block;
  height: 50%;
  width: 1.2rem;
}
#player-three-head, #player-four-head {
  display: block;
  z-index: 10;
}
#land-drop {
  order: 1;
  flex-grow: 1;
  line-height: 1;
  height: 9.5rem;
  width: 6.5rem;
  border: 2px solid gray;
}
.first-grid {
  width: 100%;
}
.drop-first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}
.drop-second-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.5%;
  margin-left: 3.5rem;
  margin-top: -3.9rem;
}
.drop-third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -3.9rem;
}
.drop-fourth-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.5%;
  margin-left: 3.5rem;
  margin-top: -3.9rem;
}
.drop-fifth-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -3.9rem;
}
.sheep-piece {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  z-index: 4;
}
/*
  Styling must be done in-line
position: absolute;
height: 400px;
width: 400px;
opacity: 0.2;
background: yellow;
z-index: 9001;
*/
#second-grid-top {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 8px;
  left: 39px;
  padding-top: 5px;
  // border: 1px dashed red;
}
#second-grid-left {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 70px;
  left: 5px;
  padding-top: 5px;
  // border: 1px dashed red;
}
#second-grid-right {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 70px;
  left: 75px;
  padding-top: 5px;
  // border: 1px dashed red;
}
#second-grid-bottom {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 132px;
  left: 39px;
  padding-top: 5px;
  // border: 1px dashed red;
}
.almighty-rules{
  display: none;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: rgba(120, 120, 120, .8);
  color: rgba(255, 255, 255, .8);
  z-index:8;
  border: 2px solid rgba(0, 0, 0, .8);
  border-radius: 5px;
  box-shadow: 4px 4px rgba(43, 43, 43, 0.5);
    h1 {
      text-align: center;
      font-size: 45px;
    }
    p {
      margin-left: 35px;
      margin-right: 35px;
    }
    p:last-child {
      text-align: center;
      font-size: 25px;
    }
}
.almighty-scores {
  display: none;
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: rgba(120, 120, 120, .8);
  color: rgba(255, 255, 255, .8);
  z-index:9;
  border: 2px solid rgba(0, 0, 0, .8);
  border-radius: 5px;
  box-shadow: 4px 4px rgba(43, 43, 43, 0.5);
    h1 {
      font-size: 45px;
    }
    h4 {
      margin-left: 55px;
      margin-right: 55px;
    }
}
#ruleButton {
  font-size: 20px;
  color: white;
  background: red;
  margin-left: 25px;
}
#ruleButton:active {
  background: rgb(212, 36, 36);
}
#scoreButton {
  font-size: 20px;
  color: white;
  background: red;
  float: right;
  margin-right: 30px;
}
#scoreButton:active {
  background: rgb(212, 36, 36);
}

// all dimensions in  Width x Height
@media screen and (max-width: 1200px) {
    h1 {
      font-size: 1rem;
    }
  }
@media screen and (max-width: 900px) {
  h1 {
    font-size: 0.7;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 0.5;
  }
}
