html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}
.column-left {
  display: inline-block;
  position: relative;
  width: 14.06%;
  height: 100%;
  background-color: rgba(180,20,20,1);
  text-align: center;
  float: left;
  overflow: hidden;
  border-right: 2px solid black;
}
.column-center {
  display: inline-block;
  position: relative;
  width: 71.55%;
  height: 100%;
  background-color: rgb(55, 55, 55);
}
.column-right {
  display: inline-block;
  position: relative;
  width: 14.06%;
  height: 100%;
  background-color: rgb(88, 180, 200);
  float: right;
  text-align: center;
  overflow: hidden;
  border-left: 2px solid black;
}
.playing-space-head {
  margin-left: 275px;
  font-size: 20px;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
}
span {
  font-size: 20px;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(120, 120, 120);
}
button {
  font-size: 20px;
  color: white;
  background: red;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
}
.land-piece {
  position: absolute;
  display: block;
  height: 200px;
  width: 140px;
  z-index:1;
}
.land-div {
  margin-top: 10px;
  margin-left: 20px;
}
.playerThree {
  position: absolute;
  width: 150px;
  top: 390px;
}
#player-three-head {
  position: absolute;
  bottom: 310px;
  left: 18px;
}
.playerFour {
  position: absolute;
  width: 150px;
  top: 390px;
}
#player-four-head {
  position: absolute;
  bottom: 310px;
  right: 25px;
}
#land-drop {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 137px;
  /* border: 2px dashed gray; */
}
.first-grid {
  margin-left: 40px;
}
.drop-first-row {
  margin-top: 10px;
  width: 100%;
}
.drop-second-row {
  width: 85%;
  margin: 0 auto;
  margin-top: -88px;
}
.drop-third-row {
  width: 100%;
  margin: 0 auto;
  margin-top: -88px;
}
.drop-fourth-row {
  width: 85%;
  margin: 0 auto;
  margin-top: -88px;
}
.drop-fifth-row {
  width: 100%;
  margin: 0 auto;
  margin-top: -88px;
}
.sheep-piece {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  z-index: 4;
}
/*
  Styling must be done in-line
position: absolute;
height: 400px;
width: 400px;
opacity: 0.2;
background: yellow;
z-index: 9001;
*/
#second-grid-top {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 8px;
  left: 39px;
  padding-top: 5px;
  // border: 1px dashed red;
}
#second-grid-left {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 70px;
  left: 5px;
  padding-top: 5px;
  // border: 1px dashed red;
}
#second-grid-right {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 70px;
  left: 75px;
  padding-top: 5px;
  // border: 1px dashed red;
}
#second-grid-bottom {
  display: inline-block;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 2;
  top: 132px;
  left: 39px;
  padding-top: 5px;
  // border: 1px dashed red;
}
.almighty-rules{
  display: none;
  position: absolute;
  top: 100px;
  left: 190px;
  width: 70%;
  height: 70%;
  background-color: rgba(120, 120, 120, .8);
  color: rgba(255, 255, 255, .8);
  z-index:8;
  border: 2px solid rgba(0, 0, 0, .8);
  border-radius: 5px;
  box-shadow: 4px 4px rgba(43, 43, 43, 0.5);
    h1 {
      text-align: center;
      font-size: 45px;
    }
    p {
      margin-left: 35px;
      margin-right: 35px;
    }
    p:last-child {
      text-align: center;
      font-size: 25px;
    }
}
.almighty-scores {
  display: none;
  position: absolute;
  top: 175px;
  left: 310px;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: rgba(120, 120, 120, .8);
  color: rgba(255, 255, 255, .8);
  z-index:9;
  border: 2px solid rgba(0, 0, 0, .8);
  border-radius: 5px;
  box-shadow: 4px 4px rgba(43, 43, 43, 0.5);
    h1 {
      font-size: 45px;
    }
    h4 {
      margin-left: 55px;
      margin-right: 55px;
    }
}
#ruleButton {
  font-size: 20px;
  color: white;
  background: red;
  margin-left: 25px;
}
#scoreButton {
  font-size: 20px;
  color: white;
  background: red;
  float: right;
  margin-right: 30px;
}
